---
import Navbar from '../components/Navbar';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Thijs Talboom" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src="/analytics.js" defer></script>
  </head>
  <body class="bg-white text-gray-900 font-sans">
    <Navbar client:load />
    <main class="pt-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>